.header {
 grid-area: header;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px;
 background-color: transparent;
 border-bottom: 2px solid #dee2e6;
}
  
.logo-container {
    display: flex;
    align-items: center;
}
  
.logo {
    width: 50px;
    margin-right: 10px;
    background: none;
}

.button-hide {
  color: white;
  background-color: transparent;
  border: none;
}

.button-hide :hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(250, 113, 1, 0.805);
}
  
.title {
    font-size: 24px;
    margin: 0;
    color: #ff4500;
}

@media (min-width: 425px) and (max-width: 550px) {
  .title {
    font-size: 1rem;
  }
}

@media(max-width: 424px) {
  .title {
    display: none;
  }
}
  
.form {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    justify-content: center; 
}
  
.input {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
}

@media (max-width: 425px) {
  .input {
    width: 7rem;
  }
}
  
.button {
    padding: 8px 16px;
    background-color: #fff;
    color: #ff4500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #ff4500;
    color: #fff;
}