.subreddits-container {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgb(13 199 182 / 30%);
    background-color: #2e2e3eb3;
    border-radius: 1rem;
}

@media (max-width: 425px) {
    .subreddits-container {
      position: absolute;
      top: 5rem;
      left: 50%; /* Центруем относительно левого края */
      transform: translateX(-50%); /* Смещаем на 50% ширины для центрирования */
      width: 80%; /* Задаем ширину контейнера */
      box-shadow: 0 0 20px rgb(13 199 182 / 89%);
      background-color: #2e2e3eed;
    }
}

.subreddits-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 1rem;
}

.hide-subreddits-button {
    background-color: transparent;
    border: none;
    color: #ff4500;
    font-size: 1.5rem;
    cursor: pointer;
}

  .subreddits-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff4500;
  }
  
  .subreddits-list {
    list-style-type: none;
    padding: 0;
  }
  
  .subreddit-item {
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subreddit-button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: -webkit-fill-available;
  }

  .subreddit-button:hover {
    background-color: hsla(54, 47%, 46%, 0.294);
  }

  .subreddit-button:active {
    background-color: hsla(157, 33%, 25%, 0.481)
  }

  .selected .subreddit-button {
    background-color: hsla(157, 33%, 25%, 0.481);
    font-weight: bold;
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: #FF5224;
  }
  
  .subreddit-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .subreddit-name {
    font-size: 1.1em;
    font-weight: normal;
  }
