.subreddits-container {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
  
  .subreddits-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .subreddits-list {
    list-style-type: none;
    padding: 0;
  }
  
  .subreddit-item {
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subreddit-button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: -webkit-fill-available;
  }

  .subreddit-button:hover {
    background-color: #FFF4BD;
  }

  .subreddit-button:active {
    background-color: #47807E;
  }

  .selected .subreddit-button {
    background-color:#DAFFFD;
    font-weight: bold;
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: #FF5224;
  }
  
  .subreddit-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .subreddit-name {
    font-size: 1.1em;
    font-weight: normal;
  }

  .subreddits.hidden {
    transform: translateX(100%);
  }
  
  .subreddits.visible {
    transform: translateX(0);
  }
