.card {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
        "vote-section post-section"
        "vote-section post-section"
        "vote-section post-section"
        "vote-section comment-section";
    gap: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.vote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-top: 15px;
}
  
/* Обычные стили для кнопок */
.upvote, .downvote {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
  
  /* Стили для активных кнопок */
.upvote.active {
    color: green;
}
  
.downvote.active {
    color: red;
}

.upvote :hover {
    color: green;
}

.downvote :hover {
    color: red;
}

/* Стили для счётчика голосов */
.vote-count {
    font-size: 16px;
    margin: 0 10px;
}
  
.vote-count.upvoted {
    color: green;
}
  
.vote-count.downvoted {
    color: red;
}

.vote-count {
    font-size: 18px;
    margin: 5px 0;
}
  
.post-section {
    flex-grow: 1;
}
  
.post-text {
    font-size: 16px;
    margin-bottom: 10px;
}
  
.post-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
  
.comment-section {
    grid-area: comment-section;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #f0f0f0;
}

.post-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
.user-info {
    display: flex;
    align-items: center;
}
  
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
  
.user-name {
    font-weight: bold;
    margin-right: 10px;
}
  
.post-time {
    color: #777;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.comment-count {
    font-size: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.comment-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 3px;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: color 0.3s;
}

.comment-button:hover {
    color: #FF5224;;
}
  
.comment-button.clicked {
    color: #50A584;
}

.comments-section {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}
  
.comment {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#box:hover {
    transform: translateY(-5px);
}

.comment-author {
    font-weight: bold;
}

.comment-body {
    margin-top: 5px;
}
  
.comment small {
    color: #555;
}

.comment-date {
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
}

.comments-list {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}