.card-loading {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
        "vote-section post-section"
        "vote-section post-section"
        "vote-section post-section"
        "vote-section comment-section";
    gap: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.vote-section-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-top: 15px;
}
  
.upvote-loading, .downvote-loading {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
  
.vote-count-loading {
    font-size: 18px;
    margin: 5px 0;
}
  
.post-section-loading {
    flex-grow: 1;
}
  
.post-text-loading {
    font-size: 16px;
    margin-bottom: 10px;
}
  
.comment-section-loading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
  
.user-info-loading {
    display: flex;
    align-items: center;
}
  
.user-name-loading {
    font-weight: bold;
    margin-right: 10px;
}
  
.post-time-loading {
    color: #777;
    font-size: 12px;
}
  
.comment-count-loading {
    font-size: 16px;
    display: flex;
    align-items: center;
}


