.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      "header header"
      "main subreddits";  /* Контент с боковыми колонками */
    height: 100vh;           /* Высота экрана */
    gap: 10px;               /* Отступы между элементами */
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.full-width {
  grid-template-areas: 
    "header header"
    "main main";  /* Контент на всю ширину */
}

.subreddits {
  grid-area: subreddits;
}





