.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;       /* Сетка из двух строк: Header и контент */
    grid-template-areas: 
      "header header header"
      "main main subreddits ";  /* Контент с боковыми колонками */
    height: 100vh;           /* Высота экрана */
    gap: 10px;               /* Отступы между элементами */
}






